.mon-produit-s{
    width: 75%;
    border: 2px solid #0365a6;
    padding: 50px;
    margin: 0 auto;
}

.mon-produit-s {
    position: relative;
}

.mon-produit-s img {
    width: 300px;
    object-fit: cover;
}

#prevBtn,
#nextBtn,
#prevBtn2,
#nextBtn2,
#prevBtn3,
#nextBtn3,
#prevBtn4,
#nextBtn4,
#prevBtn5,
#nextBtn5,
#prevBtn6,
#nextBtn6,
#prevBtn7,
#nextBtn7,
#nextBtn8,
#prevBtn8{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; /* ou la largeur souhaitée */
    height: 30px; /* ou la hauteur souhaitée */
    background-color: rgba(247, 162, 235, 0.233);
    color: #e9589f;
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

#prevBtn, #prevBtn2, #prevBtn3, #prevBtn4, #prevBtn5, #prevBtn6, #prevBtn7, #prevBtn8{
    left: 10px; /* ou la distance souhaitée depuis la gauche */
}

#nextBtn, #nextBtn2, #nextBtn3, #nextBtn4, #nextBtn5, #nextBtn6, #nextBtn7, #nextBtn8{
    right: 10px; /* ou la distance souhaitée depuis la droite */
}


.mon-produit-s .oc .mon-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.mon-produit-s .oc .mon-cont .text {
    margin-left: 40px;
    width: 100%;
}

.section-produit {
    align-items: center;
    margin: 30px;
    padding: 20px;
}

.haut {
    display: flex;
    align-items: center;
    margin: 10px;
}

.haut h2 {
    font-size: 3.5em;
    color: #e9589f;
}

.haut img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 40px;
    box-shadow: #0365a6 0px 0px 20px;
}

.mon-cont .text h1{
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #e9589f;
}

.mon-cont .text p{
    font-size: 1.4em;
}

.saison {
    display: block;
    align-items: center;
    margin: 10px 10px 10px 105px;
    padding: 10px 0 10px 80px;
}

.saison .saison-img{
    max-width: 1000px;
    max-height: 150px;
}

.mon-cont img{
    max-width: 300px;
    max-height: 200px;
}


.embalage{
    display: flex;
    flex-direction: row;
    padding: 10px 0 10px 80px;
    margin-left: 105px;
}

.embalage img{
    width: 230px;
    height: 150px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: #0365a6 0px 0px 7px;
}
.img-embalage{
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
}

.embalage h2{
    margin: auto 0;
}
.objet-cover{
    object-fit: cover;
}

  
  .product-varieties h2 {
    text-align: center;
    color: #e9589f;
  }
  
  .product-varieties {
    max-width: 800px;
    margin: 50px auto 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(233, 88, 158, 0.282);
  }
  
  .variety-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .variety {
    text-align: center;
    margin: 10px;
  }
  
  .variety h3 {
    color: #0365a6;
    font-size: 24px;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #0365a618;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }
  
  .variety h3:hover {
    transform: scale(1.1);
  }

 .haut{
    width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
 }

#abricot .saison img{
    height: 400px;
    object-fit: cover;
}

.saison h2{
    margin: 10px 0 10px 30px;
}